@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap");
@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #faf4ec;
}

/* hide scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  overflow: visible !important;
}

.stickerIcon h3 {
  font-family: "Oswald", sans-serif;
}
.stickerIcon {
  animation: rotateSticker linear;
  animation-timeline: view();
  animation-range: entry 0% cover 60%;
}

@keyframes rotateSticker {
  from {
    transform: rotate(45deg);
  }
  to {
    transform: rotate(0deg);
  }
}
