@import "tailwindcss";

body {
  font-family: "Inter", sans-serif;
  background-color: #faf4ec;
}

/* hide scrollbar */
html {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
html::-webkit-scrollbar {
  display: none;
}

.swiper-wrapper {
  transition-timing-function: linear !important;
  overflow: visible !important;
}
